<div>
  <% @followees.each do |followee| %>
    <div style="padding: 10px; display:inline;">
      <div><a href="<%= user_path(followee) %>"><%= followee.username %><br><img src="<%= followee.profile_url %>/convert?w=200&h=200&fit=clip"></img></a></div>
    </div>
  <% end %>
</div>