<div class="row-fluid">
  <div class="span3">
    <img src="<%= @group.image_url %>/convert?w=200&h=200&fit=clip">
  </div>
  <div class="span9">
    <h2><%= @group.name %></h2>

    <p>
      <%= @group.description %>
    </p>
  </div>
</div>