<h2><%= current_user.email %>'s Profile</h2>

<div>
  <% Photo.all.each do |photo| %>
    <div>
      <img src="<%=photo.image_url %>/convert?w=300&h=300&fit=clip"></img>
    </div>
  <% end %>
</div>