<%= link_to "Add an album", new_user_album_path(current_user) %>

<div>
  <% @albums.each do |album| %>
    <% if album.photos.empty? %>
      No photos!
    <% else %>
      <div>
        <a href="<%= user_album_path(current_user, album) %>">
          <img class="block_photos" src="<%= album.photos.first.image_url %>/convert?w=300&h=300&fit=crop">
        </a>
      </div>
    <% end %>
  <% end %>
</div>
