<h2><%= @album.title %></h2>
<%= link_to "Edit album", edit_user_album_path(current_user, @album) %><br>
<%= link_to "Delete album", user_album_path(current_user, @album), :method => :delete %>

<div class="row-fluid">
  <% @album.photos.each do |photo| %>
    <div class="span3">
      <img src="<%= photo.image_url %>/convert?w=300&h=300&fit=crop">
    </div>
  <% end %>
</div>