/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= require gritter
 *= require_tree .
 */

.edit_photo {
  margin-top: 30px;
}


.radio_button {
  display: inline;
}

img.cover_photo {
  width: 100%;
  height: 300px;
  background-size: cover;
}

img.profile_picture {
  margin-top: -120px;
  margin-left: 30px;
}

textarea.comment {
  width: 500px;
}

div.comments {
  width: 500px;
}

.profile_username {
  /*margin-left: 250px;*/
  margin-left: 25%;
}

.grid_thumbnail {
  width: 30%;
  height: 30%;
}

#home_background {
  background: transparent url(http://l.yimg.com/g/images/sohp_hero.jpg.v2) 50% 50% no-repeat;
  height: 100%;
}

#home_text {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 64em;
  height: 36em;
  margin-left: -32em;
  margin-top: -18em;
  text-align: center;
  vertical-align: middle;
}

h1.large {
  font-size: 70pt;
}

.show_inline {
  display: inline;
}

.worldmap_photos {
  float: left;
  margin: 10px;
}

.photo_feed {
  margin-left: 20%
}